<form class='form-group'>
{{input class='form-goup' value=trip.name maxlength=50}}
</form>
<button {{action 'save'}} class='btn btn-warning btn-xs'>Submit</button>
<button class='btn btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
